*{margin: 0; padding: 0; box-sizing: border-box;}

body{
  background: rgb(243,243,243);
  
    background-attachment: fixed;
      background-size: initial;
    font-family: "Helvetica", "Arial", sans-serif;
    height: max-content;
  }
.container{
  height: max-content;
/*   background: pink; */
  width: max-content;
  margin: 0 auto;

/*   margin-right: .4rem;*/
  margin-top: 2vmin;
}
.gallery {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 15vmin); 
/*   max-width: 50vw; */
  margin: 0 auto;
  grid-gap: .25rem;
  padding: 4px;

}

.gallery img{
  width: 15vmin;
  height: 15vmin;
  object-fit: cover;
}

.gallery a{
  width: 15vmin;
  height: 15vmin;
  object-fit: cover;
}




.container {
  overflow: hidden;
  

}
.filterDiv {
  float: left;
/*   background-color: #2196F3; */
/*   color: #ffffff; */
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  /* background-color: darkolivegreen; */
  cursor: pointer;
  color: darkolivegreen;
  margin: .25vmin;
 background: none;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: rgba(185,210,100, .3);
  font-style: italic;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: rgba(218, 232, 96, .3);
  color: rgb(164,72,17);
  font-style: italic;
}


#myBtnContainer{

  display: flex;

  flex-direction: row;
  justify-content: center;
  height: 100%;
  list-style-type: none;
  margin-top: 2vmin;
}


@media (max-width: 500px) {
  #myBtnContainer{
    display: flex;
   flex-direction: column;
    right: 1vmin;
    width: 75px;
    position: fixed;

  }
}
