*{margin: 0; padding: 0; box-sizing: border-box;}

body{
  background: rgb(243,243,243);
  
    background-attachment: fixed;
      background-size: initial;
    font-family: "Helvetica", "Arial", sans-serif;
    height: max-content;
  }
.container{
  height: max-content;
/*   background: pink; */
  width: max-content;
  margin: 0 auto;

/*   margin-right: .4rem;*/
  margin-top: 2vmin;
}
.gallery {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 15vmin); 
/*   max-width: 50vw; */
  margin: 0 auto;
  grid-gap: .25rem;
  padding: 4px;

}

.gallery img{
  width: 15vmin;
  height: 15vmin;
  object-fit: cover;
}

.gallery a{
  width: 15vmin;
  height: 15vmin;
  object-fit: cover;
}


