body {
  font-family: "Helvetica", "Arial", sans-serif;
}

.desk-icon {
  margin-top: 2vmin;
  z-index: 6;
  position: fixed;
/*   width: 55px; */
/*   margin-top: 6vmin; */
/*   margin-left: 40px; */
  display: grid;
  justify-content: center;
  padding: 0.2rem;
  margin-left: 5vmin;
}
/* .icon:hover img,
a,
p {
  transform: rotate(360deg);
  text-decoration: none;
} */
.desk-text:hover {
  color: lightsteelblue;
}

/* DROPDOWN */

.desk-menu {
  position: fixed;
  text-align: right;
  background: none;
  
  height: max-content;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 7vmin;
  /* overflow: hidden; */
  transition: all 0.7s;
  margin-left: 4vmin;
  
}

.desk-menu a {
  text-decoration: none;
  color: rgb(231, 77, 43);
  font-size: 2.5vmin;
  padding: 1.2vmin;
  transition: all;
  
}

.desk-menu ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.desk-home-house {
  background: url("https://bl6pap003files.storage.live.com/y4mfklo4xQtSSDfjHCGLTkwuLHKG-Kg-i91JXXuJclJzDSMoJfCGq2gqEiw8QH-hPyMxG1Bm-_qqeGrqOGHQMh58fb74nvPRoqdEH8bSVvX8jANaGAwQTXwKLln4v2eTNQjuvbJ6iHSl0yrNfvA94MVM1T7QTrbikhzyXZFZejMd-smuNKwBp6Mj6vd9Mj1uRMT?width=500&height=500&cropmode=none");
  height: 35px;
  width: 35px;
  background-position: center;
  background-size: cover;
  position: fixed;
  margin-top: 2vmin;
  margin-left: 55px;
}

.desk-home-house:hover {
  background: url("https://bl6pap003files.storage.live.com/y4mQ8T_TNzXam4Uqg0zMc_4Fw7gCCqWJM-wpLEIqvmYp0bloUH9M9odjkNsHZJht_hZ40eqk4FMI4vqfuFcC6CZLJ4MWicT05d5uFD2usXu48jTwjtJKZu7-cdQBProKOMrDNsJaGPK0GIs6TdvPmTh3eBb7d3rD3Zw0JXU6XGkspHSzb_U3azs1OZzBxiA5BVZ?width=500&height=500&cropmode=none");
  height: 35px;
  width: 35px;
  background-position: center;
  background-size: cover;
  
}
.desk-ow:hover {
  font-style: italic;
  background: rgb(248, 242, 213);
/*   background: rgba(157, 154, 244, 0.3); */
}
.desk-works:hover {
  font-style: italic;
  background: rgb(248, 242, 213);
/*   background: rgba(185, 210, 100, 0.3); */
}
.desk-bio:hover {
  font-style: italic;
  background: rgb(248, 242, 213);
/*   background: rgba(185, 210, 100, 0.3); */
}
.desk-archive:hover {
  font-style: italic;
  background: rgb(248, 242, 213);
/*   background: rgba(185, 210, 100, 0.3); */
}
.desk-comic:hover {
  font-style: italic;
  background: rgb(248, 242, 213);
/*   background: rgba(218, 232, 96, 0.3); */
}
.desk-ani:hover {
  font-style: italic;
  background: rgb(248, 242, 213);
/*   background: rgba(218, 232, 96, 0.3); */
}
.desk-illu:hover {
  font-style: italic;
  background: rgb(248, 242, 213);
/*   background: rgba(218, 232, 96, 0.3); */
}

/* .desk-menu .ow {
  color: rgb(164, 71, 19);
} */

@media (max-width: 1375px) {
  /* .icon p {
    
  } */
  
  .desk-menu {
    height: 220px;
    width: 98px;
    left: 2px;
    /* background: pink; */
    margin-top: 10vmin;
  } 
   .desk-menu a {
    font-size: 3vmin;
    margin: 0;
    padding: 2px;
  } 
  .desk-home-house img {
    height: 25px;
    width: 25px;
  }
  /* .menu ul {
    margin-left: 0;
    display: flex;
    text-align: center;
  }
  .icon img {
    width: 35px;
    margin-top: 5vmin;
  }

  .icon {
    margin-left: 20px;
    margin-top: 55px;
  } */
  .desk-home-house {
    margin-left: 35px;
    margin-top: 25px;
  
    margin-bottom: 50px;
  }
  
}

#desk-star01{
  display: flex;
   align-items:center;
  
  padding-bottom: 10px;
    
}
#desk-star01 img{
  width: 25px;
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 3.2s , 0s;
}


#desk-star01:hover img{
  transform: rotate(360deg);
  text-decoration: none;
  opacity: 1;
} 

#desk-star-ow{
  display: flex;
   align-items:center;
  
  padding-bottom: 10px;
    
}
#desk-star-ow img{
  
  width: 25px;
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 3.2s , 0s;
}

#desk-star-ow:hover img{
  transform: rotate(360deg);
  text-decoration: none;
  opacity: 1;
}


@media (max-width: 701px) {

  .desk-icon {
    display: none;
  }
  
  
 
  
  .desk-menu {
    display: none;
    
  }
  
  
  
  .desk-home-house {
    display: none;
  }

}  





/* .desk-menu .desk-ow{
  color:rgb(164,71,19);
  
} */