.icon {
    z-index: 2;
    position: fixed;
    width: 35px;
    margin-top: 1.6vmin;
    margin-left: 4vmin;
    display: grid;
    justify-content: center;
    padding: 0.2rem;
    
  }
  .icon img {
    width: 35px;
    transition: all  2s ease-in-out;
  }
  .icon:hover img{
    transform: rotate(360deg); 

  }
  .icon p {
  
    font-style: italic;
    font-size: 0.4rem;
    text-align: center;
  }
 