* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
  background: ivory;
  font-family: "Helvetica", "Arial", sans-serif;
  
  height: 125vh;
  }
  
  

  /* MIDDLE */
  .container{
  /*   background: pink; */
    padding: .5rem;
    max-width: 75vmin;
    margin:0 auto;
    margin-top: .5vmin;
  }
  .div{
    display: grid;
    justify-content: center;
    padding: 0.2rem;
  }
  
  .self img{
    height: 25vmin;
  }
  
  .name h1, h4{
    color: rgb(231, 77, 43);
    text-align: center;
    margin: .5vmin;
    font-style: italic;
    
  }
  
  h1{
    font-size: 4vmin;
  }
  h4 a{
    font-size: 2vmin;
    color: rgb(231, 77, 43);
    list-style-type: none;
    text-decoration: none;
  }
  h4:hover a{
      color: lightsteelblue;
  }
  .state p{
    color: rgb(164,71,19);
    max-width: 50ch;
    margin: 2vmin;
    font-size: 2vmin;
  }
  .star{
/* background: pink; */
width: max-content;
margin: 0 auto;
  }
  .star img{
    height: 5vmin;
    
    width: 5vmin;
    object-fit: cover;
    transition: transform 2s ease-in-out;
  }
  
  .star:hover img{
    transform: rotate(360deg);
  }
  
  .show p, li{
    list-style-type: none;
    color: rgb(164,71,19);;
    margin: .25vmin;
    font-size: 3min;
    font-size: 2vmin;
  }
  .show p{
    font-style: italic;
  }