* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  body {
   
    
    background: ivory;
    background-attachment: fixed;
      background-size: initial;
    
    font-family: "Helvetica", "Arial", sans-serif;
    height: max-content;
  }


/* MIDDLE */
.container {
    height: max-content;
  /*   background: pink; */
    width: 80%;
    margin: 0 auto;
    margin-right: 0.4vmin;
    margin-top: 0.4vmin;
  }
  .gallery {
    padding: 4px;
    -webkit-column-count: 4;
    -webkit-column-gap: 0px;
    -moz-column-count: 4;
    -moz-column-gap: 0px;
    column-count: 4;
    column-gap: 10px;
    display: inline-block;
    margin: 0 auto;
  }
  .gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 0.35rem;
  }
  
  @media (max-width: 1000px) {
    .gallery {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
    }
  }
  @media (max-width: 800px) {
    .gallery {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
    }
  }
  @media (max-width: 500px) {
    .gallery {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
    }
  }
  
  /* FOOTER
  
  .foot-container{
  
    margin: 0 auto;
    padding: 1vmin;
    width: max-content;
  
    
  }
  
  .social{
    margin-top: 0;
    display: flex;
      justify-content: center;
  }
    
  .social img{
    width: 5vmin;
  }
  
  h5{
    color: orangered;
    font-style: italic;
    font-size: 1.5vmin;
    text-align: justify;
  }
     */
  