*{margin: 0; padding: 0; box-sizing: border-box;}


.name-logo{
    /* background: pink; */
      
    width: max-content;
    padding: 1vmin;
    /* margin-left: .4vmin; */
    position:fixed;
       top:2vmin;
       right: 2vmin;
    }
    .img-corner {
      width: 10vmin;

    }
      