* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  body {
   
    
    background: ivory;
    background-attachment: fixed;
      background-size: initial;
    
    font-family: "Helvetica", "Arial", sans-serif;
    height: max-content;
  }
