* {
	box-sizing: border-box;
}
html {
	font-family: sans-serif;
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y mandatory;
}
section {
	height: 100vh;
	scroll-snap-align: start;
	text-align: center;
	position: relative;
	padding-top: .5vmin;
}

h1	{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: blue;
	width: 100%;
	left: 0;
	font-size: calc(1rem + 3vw);
}


/* //// */
#scroll-container {
	border-radius: 5px;
	height:100vh;
	overflow:hidden;
  }
  
  #scroll-text {
	/* animation properties */
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	
	-moz-animation: my-animation 20s linear infinite;
	-webkit-animation: my-animation 20s linear infinite;
	animation: my-animation 40s linear infinite;
	display: flex;
	width:100vw;
  }
  #scroll-text img:hover {
	background: rgb(1,146,66);
	
  }
  #scroll-text2 {
	/* animation properties */
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	transform: translateX(0);
	
	-moz-animation: my-animation1 20s linear infinite;
	-webkit-animation: my-animation1 20s linear infinite;
	animation: my-animation1 20s linear infinite;
	display: flex;
	position: relative; 
	top:85vh;
  }
  
  #scroll-text img{
	height: 5vmin;
  }
  

  #scroll-text2 img{
	height: 7vmin;
	
	

  }
  /* for Firefox */
  @-moz-keyframes my-animation {
	from { -moz-transform: translateX(100%); }
	to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
	from { -webkit-transform: translateX(100%); }
	to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation{
	from {
	  -moz-transform: translateX(100%);
	  -webkit-transform: translateX(100%);
	  transform: translateX(0%);
	}
	to {
	  -moz-transform: translateX(-100%);
	  -webkit-transform: translateX(-100%);
	  transform: translateX(-100%);
	}
  }


   /* for Firefox */
   @-moz-keyframes my-animation1 {
	from { -moz-transform: translateX(-100%); }
	to { -moz-transform: translateX(100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation1 {
	from { -webkit-transform: translateX(-100%); }
	to { -webkit-transform: translateX(100%); }
  }
  
  @keyframes my-animation1{
	from {
	  -moz-transform: translateX(100%);
	  -webkit-transform: translateX(100%);
	  transform: translateX(-100%);
	}
	to {
	  -moz-transform: translateX(0%);
	  -webkit-transform: translateX(0%);
	  transform: translateX(0%);
	}
  }
 





li {
	scroll-snap-align: center;
	display: inline-block;
	height: 83vh;
	border-radius: 3px;
	font-size: 0;
	margin-right: 3rem;
	/* margin-top: 7vmin; */
}


@media (max-width: 700px) {
	
	#scroll-text img{
		height: 15vmin;
	}
	#scroll-text2{
		top:75vh;
	}
	#scroll-text2 img{
		height: 10vmin;
		}
		
	li img{
		height: 75%; 
	}
	
  }

  .all_type{
	height: 6vmin;
	margin-right: 3vmin;
  }
  .all_type:hover{
	background-color:rgb(161,222,255);
  }
  

  #star img{
	height: 6vmin;
margin-right: 3vmin;
  }
#star:hover img{
	background-color: rgb(195,239,30);
	}
.poster_type{
		height: 6vmin;
		margin-right: 3vmin;
		
	  }
	  .poster_type:hover{
		background-color:rgb(255,119,0);
	  }
	
	  .misc_type{
		height: 6vmin;
		margin-right: 3vmin;
		
	  }
	  .misc_type:hover{
		background-color:rgb(253,141,255);
	  }
	

	  .gallery {
		border: 1px solid lightgray;
		padding: 1rem;
		display: grid;
		grid-template-columns: repeat(3, 50vmin);
		grid-template-rows: repeat(10, 50vmin);
		grid-column-gap: 5rem;
		grid-row-gap: 5rem;
		flex-wrap: wrap;
		overflow: scroll;
		height: 90vh;
		scroll-snap-type: both mandatory;
		scroll-padding: 1rem;
  justify-content: center;
  
	}
	
	li {
		scroll-snap-align: start;
		display:grid;
		border-radius: 3px;
		font-size: 10px;
		color:green;
		text-align: center;
		float: right;
		width: max-content;
		border: 3px solid green;
		height: max-content
	}
	li text{
		color: white;
		background-color: black;
		display: flex;
		justify-content: center;
	
		
	}
	.gallery img{
		height:60vmin;
		background: url("images/cabeswater_poster.png");
		background-position: center;
		background-size: cover;
		
	
	}

	#shop_one img{ 
		background-image: url(images/adam_poster.png);
	}

	

	#shop_one img:hover{ 
		background-image: url(images/adam_two_poster.png);
	}

	#shop_two img{ 
		background-image: url(images/window_poster.png);
		
	}

	#shop_two img:hover{ 
		background-image: url(images/#.png);
	}
	#shop_three img{ 
		background-image: url(images/cabeswater_poster.png);
		
	}

	#shop_three img:hover{ 
		background-image: url(images/#.png);
	}

	#shop_four img{ 
		background-image: url(images/horse_misc.png);
	}

	#shop_four img:hover{ 
		background-image: url(images/#.png);
	}
	#shop_five img{ 
		background-image: url(images/home_poster.png);
	}

	#shop_five img:hover{ 
		background-image: url(images/#.png);
	}

	#shop_six img{ 
		background-image: url(images/calendar_misc.png);
	}

	#shop_six img:hover{ 
		background-image: url(images/#.png);
	}

	#shop_seven img{ 
		background-image: url(images/lighthouse_comics.png);
	}

	#shop_seven img:hover{ 
		background-image: url(images/lighthouse_one_comcis.png);
	}
	#shop_eight img{ 
		background-image: url(images/umbra_comics.png);
	}

	#shop_eight img:hover{ 
		background-image: url(images/umbra_one_comics.png);
	}

	#shop_nine img{ 
		background-image: url(images/twin_comics.png);
	}

	#shop_nine img:hover{ 
		background-image: url(images/twin_one_comics.png);
	}
	#shop_ten img{ 
		background-image: url(images/margin_comic.png);
	}

	#shop_ten img:hover{ 
		background-image: url(images/margin_one_comic.png);
	}
	#shop_eleven img{ 
		background-image: url(images/card_misc.png);
	}

	#shop_eleven img:hover{ 
		background-image: url(images/card_one_misc.png);
	}
	

	
	

	
	
	@media (max-width: 1000px) {
		.gallery {
		grid-template-columns: repeat(3, 30vw);}
		
	  }
	  @media (max-width: 800px) {
		.gallery {
		grid-template-columns: repeat(2, 30vw);}
		
	  }
	  @media (max-width: 700px) {
		.gallery {
		grid-template-columns: repeat(1, 30vw);
		grid-template-rows: repeat(10, 65vmin);
	}
	
	.gallery img{
		height:70vmin;
		padding:3vmin;
	}
		
	  }
	  
