* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  body {
   
/*     
    background: rgb(243,243,243); */
    background-attachment: fixed;
      background-size: initial;
    
    font-family: "Helvetica", "Arial", sans-serif;
    height: max-content;
  }
.vid {
  
  width: max-content;
  margin:0 auto;
  
  
}

.vid video{
 width: 65vmin;
 padding-bottom: 2vmin;
}
  .container {
    height: max-content;
  /*   background: pink; */
    width: 75vw;
    margin: 0 auto;
    /* margin-right: 13vmin; */
    margin-top: 0.4vmin;
    
    
  }
@media (min-width: 1000px) {
  .container {
    width: 80vw;
    margin-left: 25vmin;
    
  }
  
}

  .gallery {
    padding: 4px;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 10px;
    display: inline-block;
  }
  .gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 0.35rem;
  }
   video{
    width: 50vmin;
    height: auto !important;
    margin: 0 auto;
     
    /* padding: 10px; */
    display: flex;
  
    /* margin-left: 20vw; */
    margin-top: 0.4vmin;
    
    /* border: solid .3vmin orangered; */
  }
  
  
  @media (max-width: 1000px) {
    .gallery {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
    }
  }
  @media (max-width: 800px) {
    .gallery {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
    }
  }
  @media (max-width: 500px) {
    .gallery {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
    }
  }


  
  @media (max-width: 500px) {
    .container{
      display: flex;
     flex-direction: column;
      right: 1vmin;
     
      position: absolute;
  
    }
    
  }
  @media (max-width: 450px) {
    
  #vid01 {
    background-color: lightsteelblue;
    background: url('images/screen01.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
  }
  #vid02{
    background-color: lightsteelblue;
    background: url('images/screen02.png');
    background-size: cover;
    background-position: center;

  }
  #vid01a {
    background-color: lightsteelblue;
    background: url('images/screen01.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
  }
  }