
*{
    margin: 0; 
    padding: 0;

}

img{
    width: 100%; 
    padding: 5px;

}

.container{
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: top;
}

.column{
    display: flex;
    flex-direction: column;
    padding: 5px;
}


@media only screen and (max-width: 770px) {

.container{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

}

.home{
    position: relative;
  
    width: 100%;
   
    
   }



   .home:hover{
	background-color:rgb(250,110,210);
  }