* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  body {
    border: 2vmin solid orangered;
    border-image: url(https://bl6pap003files.storage.live.com/y4m0zNYgu8k5Hkk9U8ZNxH1hYokWIAMlulHwZojFMzXW2OkcXYhAw6OsjAeVp3tEpBAunxb6NhGiBevVez-EyX0qs0szRl3vrrR24kHue9NtMl3haedwSb9UmEI7EbvvbTTuK4-nqTpem_mYEJlpmpaQq4XXK9Ltg846nrmilxNgtFBeIJjKTPqRuwziTTYsEcr?width=6077&height=8477&cropmode=none) 10% round;
    background: ivory;
    background-attachment: fixed;
      background-size: initial;
    
    font-family: "Helvetica", "Arial", sans-serif;
    height: 125vh;
  }
  
  /* MIDDLE */

.title img{
    margin: 0 auto;
    margin-top: .5vmin;
    margin-bottom: .5vmin;
    width: 25vmin;
    padding: 10px;
    display: flex;
   
  
  }
  
  h1:hover {
    color: rgb(231, 77, 43);
  }
  
  .mid {
    display: grid;
    justify-content: center;
    padding: 0.2rem;
  }
  .gallery img {
    border-image: url(/documentation/border.jpg); 
    height: 25vmin;
    margin: 0.24vmin;
  }
  