body{
    font-family: "Helvetica", "Arial", sans-serif;
    
}

.icon {
    z-index: 2;
    position: fixed;
  
    width: 55px;
    margin-top: 4vmin;
    margin-left: 4vmin;
    
    display: grid;
    justify-content: center;
    padding: 0.2rem;
    
  }
  .icon img {
    width: 66px;
    transition: all  2s ease-in-out;
     text-decoration: none;
  }
  .icon:hover img, a, p{
    transform: rotate(360deg); 
   text-decoration: none;
   
  }
  .icon p {
    color:rgb(231, 77, 43);
  
    font-style: italic;
    font-size: 2vmin;
    text-align: center;
    
  }
.text:hover{
  color: lightsteelblue;
}

  /* DROPDOWN */
  
  .menu {
    display:none;
    position: fixed;
    /* background: lightsteelblue; */
    text-align: right;
    width: 100px;
    height: max-content;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 2vmin;
    overflow: hidden;
    transition: all 0.7s;
  }
  .top {
    transition: all 0.2s;
  }

  /* .icon:hover .menu {
    height: 174px;
  } */
  .menu a {
    text-decoration: none;
    color: rgb(231, 77, 43);
    font-size: 2vmin;
    padding: 1.5vmin;
    transition: all ;
   
  }
  
  .menu ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
  .home:hover{
    font-style:italic;
    background: rgba(185,210,100, .3);
}

  .ow:hover {
    font-style: italic;
    background: rgba(157,154,244, .3);
  }
  .works:hover {
    font-style: italic;
    background: rgba(185,210,100, .3);
  }
  .bio:hover {
    font-style: italic;
    background: rgba(185,210,100, .3);
  }
  .archive:hover {
    font-style: italic;
    background: rgba(185,210,100, .3);
  }
  /* .sub-menu {
    display: flex;
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 4rem;
    overflow: hidden;
    transition: all 0.5s;
  } */
  .comic:hover{
    font-style: italic;
    background: rgba(218, 232, 96, .3);
  }
  .ani:hover{
    font-style: italic;
    background: rgba(218, 232, 96, .3);
  }
  .illu:hover{
    font-style: italic;
    background: rgba(218, 232, 96, .3);
    
  }
  /* .sub-menu a {
    color: rgb(231, 77, 43);
    
    width:66px;
    /* text-align: center;
    font-style: italic; */
  

  .menu .ow{
    color: rgb(164,71,19);
  
  }
  /* .works:hover .sub-menu {
    height: 4rem;
  } */
  
  @media (max-width: 500px) {
    .icon p{
      font-size: 3vmin;
    }
    .menu{
      height: 250px;
      width: 70px;
      
    }
    .menu a{
      font-size: 3vmin;
    }
  }