body{
    font-family: "Helvetica", "Arial", sans-serif;
}

.icon {
    z-index: 2;
    position: fixed;
  
    width: 55px;
    margin-top: 4vmin;
    margin-left: 4vmin;
    display: grid;
    justify-content: center;
    padding: 0.2rem;
    
  }
  .icon img {
    width: 66px;
    transition: all  2s ease-in-out;
  }
  .icon:hover img{
    transform: rotate(360deg); 
  
  }
  .icon p {
  
    font-style: italic;
    font-size: 0.4rem;
    text-align: center;
  }

  
  /* DROPDOWN */
  
  .menu {
    display:none;
    position: fixed;
    background: lightsteelblue;
    text-align: right;
    width: 66px;
    height: 175px;
    
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 174px;
    overflow: hidden;
    transition: all 0.7s;
  }
  .top {
    transition: all 0.2s;
  }

  /* .icon:hover .menu {
    height: 174px;
  } */
  .menu a {
    text-decoration: none;
    color: rgb(231, 77, 43);
    font-size: 0.75rem;
    padding: 0.4vmin;
    transition: all 0.7s;
  }
  
  .menu ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
  .home:hover{
    font-style:italic;
}
  .ow:hover {
    font-style: italic;
  }
  .works:hover {
    font-style: italic;
  }
  .bio:hover {
    font-style: italic;
  }
  .archive:hover {
    font-style: italic;
  }
  .sub-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
  }
  .sub-menu a {
    color: rgb(231, 77, 43);
    text-align: center;
    font-style: italic;
  }
  .works:hover .sub-menu {
    height: 4rem;
  }
  