* {
	box-sizing: border-box;
}
html {
	font-family: sans-serif;
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y mandatory;
}
section {

	
	height: 100vh;
	scroll-snap-align: start;
	text-align: center;
	position: relative;
	padding-top: .5vmin;
}
h1	{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: blue;
	width: 100%;
	left: 0;
	font-size: calc(1rem + 3vw);
}

  .home{
    background-image:url("images/background.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  
}

/* //// */
#scroll-container {
	border-radius: 5px;
	height:100vh;
	overflow:hidden;
  }
  
  #scroll-text {
	/* animation properties */
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	
	-moz-animation: my-animation 20s linear infinite;
	-webkit-animation: my-animation 20s linear infinite;
	animation: my-animation 40s linear infinite;
	display: flex;
	width:100vw;
  }
  #scroll-text img:hover {
	background: rgb(1,146,66);
	
  }
  #scroll-text2 {
	/* animation properties */
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	transform: translateX(0);
	
	-moz-animation: my-animation1 20s linear infinite;
	-webkit-animation: my-animation1 20s linear infinite;
	animation: my-animation1 20s linear infinite;
	display: flex;
	position: relative; 
	top:85vh;
  }
  
  #scroll-text img{
	height: 5vmin;
  }
  

  #scroll-text2 img{
	height: 7vmin;
	
	

  }
  /* for Firefox */
  @-moz-keyframes my-animation {
	from { -moz-transform: translateX(100%); }
	to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
	from { -webkit-transform: translateX(100%); }
	to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation{
	from {
	  -moz-transform: translateX(100%);
	  -webkit-transform: translateX(100%);
	  transform: translateX(0%);
	}
	to {
	  -moz-transform: translateX(-100%);
	  -webkit-transform: translateX(-100%);
	  transform: translateX(-100%);
	}
  }


   /* for Firefox */
   @-moz-keyframes my-animation1 {
	from { -moz-transform: translateX(-100%); }
	to { -moz-transform: translateX(100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation1 {
	from { -webkit-transform: translateX(-100%); }
	to { -webkit-transform: translateX(100%); }
  }
  
  @keyframes my-animation1{
	from {
	  -moz-transform: translateX(100%);
	  -webkit-transform: translateX(100%);
	  transform: translateX(-100%);
	}
	to {
	  -moz-transform: translateX(0%);
	  -webkit-transform: translateX(0%);
	  transform: translateX(0%);
	}
  }
 


#about{
	background-image:url("images/about.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}



li {
	scroll-snap-align: center;
	display: inline-block;
	height: 83vh;
	border-radius: 3px;
	font-size: 0;
	margin-right: 3rem;
	/* margin-top: 7vmin; */
}

li img{
	height: 100%

}
@media (max-width: 700px) {
	
	#scroll-text img{
		height: 15vmin;
	}
	#scroll-text2{
		top:75vh;
	}
	#scroll-text2 img{
		height: 10vmin;
		}
		
	li img{
		height: 75%; 
	}
	
  }

  .all_type{
	height: 6vmin;
	margin-right: 3vmin;
	

  }
  .all_type:hover{
	background-color:rgb(161,222,255);
  }
  
  

 

  #star img{
	height: 6vmin;
margin-right: 3vmin;
  }

#star:hover img{
	background-color: rgb(195,239,30);
	}


	#shop_gallery{
		background-color:green;
	}
	.poster_type{
		height: 6vmin;
		margin-right: 3vmin;
		
	  }
	  .poster_type:hover{
		background-color:rgb(255,119,0);
	  }
	
	  .misc_type{
		height: 6vmin;
		margin-right: 3vmin;
		
	  }
	  .misc_type:hover{
		background-color:rgb(253,141,255);
	  }
	
	  .row {
		display: flex;
		flex-wrap: wrap;
		padding: 0 4px;
	  }
	  
	  /* Create four equal columns that sits next to each other */
	  .column {
		flex: 25%;
		max-width: 25%;
		padding: 0 4px;
	  }
	  
	  .column img {
		margin-top: 8px;
		vertical-align: middle;
		width: 100%;
	  }
	  
	  /* Responsive layout - makes a two column-layout instead of four columns */
	  @media screen and (max-width: 800px) {
		.column {
		  flex: 50%;
		  max-width: 50%;
		}
	  }
	  
	  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
	  @media screen and (max-width: 600px) {
		.column {
		  flex: 100%;
		  max-width: 100%;
		}
	  }